/.venv/
/.idea/
/archive/
/**/pysr_outputs/
/**/*kan*/
/**/outputs/
/test_data/
/test/bmi/results_bmi/baseline_age/*/
/test/bmi/results_bmi/baseline_longitudinal/*/
/test/bmi/results_bmi/deeppysr_age/*/
/test/bmi/results_bmi/deeppysr_longitudinal/*/
/test/bmi/results_bmi/deeppysr_old/*/
/test/bmi/model/
