/.venv/
/.idea/
/archive/
/**/pysr_outputs/
/**/*kan*/
!/**/kan/
!/**/kansym/
/**/outputs/
/**/model/
/**/predictions.csv
/**/relationships.csv
/test_data/
/test/*/results*/*/
/test/bmi/results_bmi_all/*/
/test/bmi/results_bmi_nocv/*/
/archive/results/results_diab130_all/
/test/diabetes130us/results_diab130_nocv/
/test/wineQuality/results_red_all/
/test/wineQuality/results_red_nocv/
/test/*/convergence_results/*/
/scripts/*.log
/test/wineQuality/results_white_all/
/test/wineQuality/results_white_nocv/
/.vscode/
/*/__pycache__/
*/**/__pycache__/
/.claude/
