/.venv/
/.idea/
/archive/
/**/pysr_outputs/
/**/*kan*/
!/**/kan/
!/**/kansym/
/**/outputs/
/**/model/
/**/predictions.csv
/**/relationships.csv
/test_data/
/test/*/*results*/
/scripts/*.log
/**/analysis_v1/
/**/analysis_v1*
/.vscode/
/*/__pycache__/
*/**/__pycache__/
/.claude/
/out/
/*paper/
/Manifest.toml
/Project.toml
/test/diab_raine/bk/

/mynote.md
